@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');



.nav a{
    text-decoration:none;
}

.nav ul{
    list-style: none;
}

header{
    display: flex;
    background-color: #aed7fc;
    justify-content: space-around;
    padding: 0.5rem 0;
    align-items:center;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    width: 90px;
    border-radius:50%;
    margin-right:10px;
}

.nav_list{
    display: flex;
    align-items:center;
}

.nav_item{
    margin: 0 8px;
}

.nav_list .link{
    padding: 10px;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    border-radius:5px;
}
.nav_list .link:hover{
    background-color: #435AD9;
    color: #fff;
}

.nav .close, .toggle{
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }

    .logo a{
        font-size: 0.9rem;
    }

    .logo img{
        width: 30px;
    }

    .toggle{
        display: inline;
        color: #eeee;
        font-size:24px;
    }

    .nav .close{
        position: absolute;
        right:24px;
        display:block;
        font-size:24px;
        border-radius:50%;
        color: #eeee;
    }

    .close:hover{
        background-color: aqua;
    }

    .nav{
        position: fixed;
        top:0;
        right: -100%;
        background-color: #222831;
        color: #eeee;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }

    .nav_list{
        display: flex;
        flex-direction: column;
    }

    .nav_item{
        margin: 2rem 0;

    }

    .show{
        right: 0;
    }
}